body{
    background: rgb(0, 34, 44);
    /* background: rgb(255, 254, 254); */
}

.container{
    min-width: 300px;
}
.draw-one{
    width: 100%;
    min-height: 100px;
    background: rgb(132, 0, 255);
    color: #FFFFFF;
    text-align: right;
}
.smile-row,
.smile-col{
    padding: 0;
    font-size: 0px;
}
.smile-row{
    display: inline-block;
}
.smile-row li{
    display: block;
}
.smile-col li{
    display: inline-block;
    background: rgb(255, 217, 0);
    width: 11px;
    height: 11px;
    margin-top: -1px;
    margin-left: -1px;
}

/* Mountain draw */
.draw-two{
    position: relative;
    background: rgb(152, 220, 253);
}
.pic{
    position: relative;
}

.tree{
    min-height: 100px;
    padding-top: 50px;
}
.tree div{
    position: absolute;
}

.tree .leaf {
    position: relative;
    display: inline-block;
    height: 125px;
    width: 50px;
    z-index: 20;
}
.leaf::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    background: rgb(139, 96, 1);
    left: calc(60% - 1.5px);
}
.leaf span{
    position: absolute;
    width: 100%;
    height: 40%;
    background:linear-gradient(90deg, #bdeb3f 50%, #97ce00 50%);
    border-radius: 50%;
    left: 10%;
    z-index: 5;
}
.leaf .two{
    width: 40%;
    height: 16%;
    background:linear-gradient(90deg, #d4f18e 50%, #c6e769 50%);
    z-index: 10;
    top: 40%;  
    left: 0;
}
.leaf .two::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background: rgb(139, 96, 1);
    left: 22px;
    top: 15px;
    z-index: -89;
    transform: rotateZ(-45deg);
}
.leaf .three{
    width: 60%;
    height: 24%;
    background:linear-gradient(90deg, #e2ff91 50%, #cff073 50%);
    top: 30%;  
    left: 70%;
    z-index: 20;
}
.leaf .three::after{
    content: "";
    position: absolute;
    height: 50%;
    width: 3px;
    background: rgb(139, 96, 1);
    left: 0px;
    top: 25px;
    z-index: -89;
    transform: rotate(45deg);
}
.moon{
    position: absolute;
    background: rgb(255, 250, 177);
    border-radius: 100px;
    width: 80px;
    height: 80px;
    z-index: 1;
    top: 30px;
    left: 10%;
}
.mountain{
    position: relative;
    background: #FFFFFF;
    width: 150px;
    height: 100px;
    border-radius: 10px 10px 10px 10px; 
}

.house{
    font-size: 0;
    position: absolute;
    z-index: 5;
    width: 150px;
    min-height: 100px;
    border-radius: 10px 10px 10px 10px;
    top: -17px;
    left: 320px;
}
.house .roof{
    background: linear-gradient(90deg,transparent 20%,#b87a61 20%,#b87a61 70%,transparent 70%);
    width: 100%;
    height: 54px;
    border-bottom: 4px solid rgb(173, 159, 136);
}
.roof::before{
    content: "";
    display: inline-block;
    height: 100%;
    width: 33%;
    border-top:0px solid transparent;
    border-bottom:50px solid rgb(214, 166, 147);
    border-left:11px solid transparent;
    border-right:0px solid transparent;
}
.roof::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 36%;
    border-top: 0px solid transparent;
    border-bottom: 50px solid rgb(145, 71, 42);
    border-left: 1px solid transparent;
    border-right: 12px solid transparent;
    float: right;
}
.roof .smoke{
    position: absolute;
    background: #754430;
    width: 5px;
    height: 47px;
    top: -22px;
    z-index: 10;
    box-shadow: 1px 1px 1px #492a1d;
    left: 30px;
}
.wall{
    background: linear-gradient(45deg,#e47a69,#e25b46);
    min-height: 150px;
    width: calc( 100% - 20px);
    margin-left: 10px;
}
.wall .floor{
    height: 50px;
    border-bottom: 3px solid rgb(216, 212, 170);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.247);
}
.window{
    display: inline-block;
    height: 25px;
    width: 18px;
    background: linear-gradient(90deg,#1f79a3 50%,#074168 50%);
    margin-left: 17px;
    margin-top: 8px;
    box-shadow: inset 1px -2px 3px rgba(255, 255, 255, 1), inset 1px -0.5px 1px rgba(255, 255, 255, 0.7), inset -2px 0.5px 1px rgba(0, 0, 0, .6);
}
.floor.first{
    height: 55px;
}
.floor.first .window{
    display: inline-block;
    height: 16px;
    width: 29px;
    background: #074168;
    margin-left: 8px;
    margin-top: 22px;
    box-shadow: inset 2px 1px 0px rgba(255, 255, 255, 1), inset -2px 2px 1px rgba(255, 255, 255, 0.7), inset -1px -1.5px 0px rgba(255,255,255,1);
}
.floor .door{
    display: inline-block;
    height: 30px;
    width: 23px;
    background: #074168;
    margin-left: 13px;
    margin-bottom: -14px;
    box-shadow: inset 2px 1px 0px rgba(255, 255, 255, 1), inset -2px 2px 1px rgba(255, 255, 255, 0.7), inset -2px 0.5px 1px rgba(0, 0, 0, .6);
}
.floor.first::before{
    content: "";
    position: absolute;
    height: 23px;
    width: calc( 100% - 20px);
    bottom: 41px;
    background: 
    linear-gradient(#DDD 10%,transparent 10%),
    linear-gradient(90deg,transparent 3%,#855944 3%,#855944 6%,transparent 6%,
    transparent 12%,#855944 12%,#855944 16%,transparent 16%,
    transparent 20%,#855944 20%,#855944 23%,transparent 23%,
    transparent 27%,#855944 27%,#855944 31%,transparent 31%,
    transparent 35%,#855944 35%,#855944 39%,transparent 39%,
    transparent 43%,#855944 43%,#855944 46.5%,transparent 46.5%,
    transparent 50%,#855944 50%,#855944 54%,transparent 54%,
    transparent 58%,#855944 58%,#855944 61.5%,transparent 61.5%,
    transparent 65%,#855944 65%,#855944 69%,transparent 69%,
    transparent 73%,#855944 73%,#855944 77%,transparent 77%,
    transparent 82%,#855944 82%,#855944 85%,transparent 85%,
    transparent 89%,#855944 89%,#855944 91%,transparent 91%,
    transparent 95%,#855944 95%,#855944 98%,transparent 98%
    ),
    linear-gradient(#fff,#c7c3bd);
}

.kite{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 260px;
    animation: kite-ani 10s infinite forwards;
}
@keyframes kite-ani{
    50%{transform: translateX(15px);}
    80%{transform: translateX(23px);}
}
.kite::before{
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    background: linear-gradient(-225deg,#FFF 20%,#e76652 20%,#d85743 40%,#FFF 40%, #FFF 65%,#d85743 65%,#d85743 80% );
    transform: rotate3d(1, 1, 0, 45deg);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.473);
}
.kite::after{
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 30px;
    left: 31px;
    background: #ffffff;
    transform: rotate3d(1, 1, 0, 60deg);
}
.line{
    margin-left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 0 0 0 120px;
    box-shadow: -0.5px 1px 0 #e76652;
    margin-top: 6px;
}

.clouds{
    position: absolute;
    width: 50%;
    min-width: 500px;
    min-height: 200px;
    margin-top: 20px;
    overflow: hidden;
    top: 0;
}
.clouds .cloud{
    display: inline-block;
    background: #ffffff;
    width: 39px;
    height: 12px;
    border-radius: 18px 23px 8px 7px;
    top: 0;
    margin-left: 30px;
    vertical-align: middle;
}
.cloud::before{
    content: "";
    display: block;
    width: 19px;
    height: 17px;
    background: #FFF;
    margin-top: -9px;
    position: absolute;
    border-radius: 30px;
    margin-left: 9px;
}
.cloud::after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #FFF;
    margin-top: -5px;
    position: absolute;
    border-radius: 30px;
    margin-left: 26px;
}
.cloud.two{
    height: 10px;
    width: 39px;
    border-radius: 18px 28px 20px 29px;
    top: 0;
    margin-left: 30px;
}
.cloud.two::before{
    width: 20px;
    height: 22px;
    border-radius: 13px 20px 10px 9px;
    margin-left: 13px;
}
.cloud.two::after{
    margin-top: -4px;
    margin-left: 4px;
}
.cloud.three{
    height: 10px;
    width: 34px;
    border-radius: 21px 12px 25px 13px;
    top: 0;
    margin-left: 30px;
}
.cloud.three::before{
    width: 17px;
    height: 21px;
    border-radius: 20px 10px 16px 12px;
    margin-left: 8px;
    margin-top: -8px;
}
.cloud.three::after{
    margin-top: 6px;
    margin-left: 35px;
    width: 6px;
    height: 6px;
}

.horizon{
    position: absolute;
    width: 50%;
    height: 5px;
    background: rgb(15, 71, 106);
    top: 146px;
    z-index: 100;
    left: 10px;
    border-radius: 10px;
}

.ani-xs{
    animation: move-xs 50s infinite;
}
.ani-s{
    animation: move-xs 40s infinite;
}
.ani-ns{
    animation: move-s 30s infinite;
}
.ani-n{
    animation: move-n 20s infinite;
}
.ani-f{
    position: relative;
    animation: move-f 15s infinite;
    z-index: 2;
}
@keyframes move-xs{
    0%{transform: translateX(500px) scale(0.4);}
    100%{transform: translateX(-500px) scale(0.4);}
}

@keyframes move-s{
    0%{transform: translateX(500px) scale(0.6);}
    100%{transform: translateX(-500px) scale(0.6);}
}
@keyframes move-n{
    0%{transform: translateX(500px) scale(0.8);}
    100%{transform: translateX(-500px) scale(0.8);}
}

@keyframes move-f{
    0%{transform: translateX(500px) scale(1);}
    100%{transform: translateX(-500px) scale(1);}
}

/* third */
.draw-three{
    position: relative;
    height: 500px;
    background: #150b16;
}
.draw-three img{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.1;
}
.pearl-girl{
    position: relative;
    height: 500px;
    width: 100%;
}
.pearl-girl img{
    position: absolute;
    max-height: 100%;
    top: 0;
    right: 0;
    opacity: 0.3;
}
.pearl-girl div{
    position: absolute;
}
.skin{
    right: 0;
}
.skin div{
}
.skin .skin-1{
    background: #ffe3ca;
    width: 235px;
    height: 305px;
    right: 0;
}
.skin .skin-2{
    background: #ffe3ca;
    width: 50px;
    right: 217px;
    height: 44px;
    border-radius: 23px 0 0 20px;
}
.skin .skin-3{
    background: #ffe3ca;
    width: 84px;
    right: 179px;
    top: 54px;
    height: 167px;
    border-radius: 98px 0 0px 148px;
}
.skin .skin-4{
    background: #ffe3ca;
    width: 113px;
    right: 153px;
    top: 51px;
    height: 201px;
    border-radius: 98px 0 0px 148px;
}
.skin .skin-5{
    background: #ffe3ca;
    width: 113px;
    right: 153px;
    top: 51px;
    height: 201px;
    border-radius: 98px 0 0px 148px;
}

.draw-four{
    /* background: #150b16; */
    position: relative;
}
.draw-four .me{
    position: relative;
    font-family: 'Rationale', sans-serif;
    text-align: right;
    color: transparent;
    font-weight: 500;
    font-size: 45px;
    letter-spacing: 5px;
    text-shadow: 0px 0px 10px #e64514;
    line-height: 60px;
    vertical-align: middle;
}
.draw-four .me::before{
    content: "Mingxia Yan";
    position: absolute;
    width: auto;
    white-space: nowrap;
    font-size: 33px;
    font-weight: 100;
    letter-spacing: 10px;
    line-height: 60px;
    color: #e6a038;
    color: linear-gradient(#111,#eee);
    text-shadow: .5px -.5px 3px #fdf5e8;
    margin-left: 2px;
    vertical-align: middle;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #fcc97e;
}
.draw-four .me::after{
    content: "Mingxia Yan";
    position: absolute;
    white-space: nowrap;
    right: -5px;
    font-size: 33px;
    letter-spacing: 10px;
    line-height: 60px;
    color: #e6a038;
    text-shadow: -1px 1px 2px #a56d19;
    margin-left: 2px;
    vertical-align: middle;
}
.draw-four .line{}

body .black{
    background: black;
}
body .purple{
    background: rgb(132, 0, 255);
}
body .trans{
    background: transparent;
}
body .scale-xs{
    transform: scale(.3);
}
body .scale-s{
    transform: scale(.4);
}
body .scale-m{
    transform: scale(.6);
}
body .scale-l{
    transform: scale(.8);
}
.mr-minus-1{
    margin-left: -10px;
}
.mr-minus-2{
    margin-left: -20px;
}
.mr-minus-3{
    margin-left: -30px;
}
.mr-minus-4{
    margin-left: -40px;
}
.mr-minus-5{
    margin-left: -50px;
}

.white{
    color: #FFFFFF;
}